</div>
<div class="container">
  <div id="welcome-greeting">
    <h2>
      Hello! I've created this website to showcase my software projects, hobbies, and content that I find interesting. I deeply enjoy programming and blockchain techonology. I truly believe that it is the future of tech and it will revolutionize how we transact peer-to-peer. Go ahead and browse around. Check out my 'About Me' tab to learn more about me!
      <br><br> (Last updated November, 17, 2021)</h2>
    <hr />
  </div>
</div>
<div class ="container">
